<h1>All Groups</h1>

<div><%= link_to 'Create New Group', new_group_path %></div>

<% @groups.each do |group| %>
  <ul>
    <li><%= link_to group.name, group_path(group) %></li>
    <li><%= group.description[0..100] %>...</li>
    <li><%= group.member_count %> members</li>
  </ul>
<% end %>


