<h1><%= @group.name %></h1>

<% unless @group.members.include?(current_user) %>
  <div><%= button_to "Join Group", group_memberships_path(@group) %></div>
<% end %>

<% @group.articles.each do |article| %>
  <%= link_to article.name, article_path(article) %><br>
<% end %>

<%= link_to 'Create New Article', new_group_article_path(@group) %>


