<h1><%= @group.name %></h1>

<% if current_user == @group.admin %>
  <%= link_to 'Admin Panel', group_admin_path(@group) %>
<% end %>

<% unless @group.members.include?(current_user) %>
  <div><%= button_to "Join Group", group_memberships_path(@group) %></div>
<% end %>

<% @group.articles.each do |article| %>
  <%= link_to article.name, article_path(article) %><br>
<% end %>



