<h1>Admin Panel</h1>

<div class="container">
  <div class="row">
    <div class="five columns">
      <h4>Categories</h4>
    </div>

    <div class="seven columns">
      <h4>Members</h4>
    </div>
  </div>
</div>


    <ul class="tabs">
        <li class="active"><span href="#integrity">Integrity</span></li>
        <li><span href="#kindness">Kindness</span></li>
        <li><span href="#whole_self">Whole Self</span></li>
    </ul>

    <div class="tab-content" id="integrity">
      <h2>Integrity</h2>
    </div>

    <div class="tab-content" id="kindness">
      <h2>Kindness</h2>
    </div>

    <div class="tab-content" id="whole_self">
      <h2>Whole Self</h2>
    </div>
